// Colors

$midnightBlue : #2c3e50;
$amethyst : #9b59b6;
$belizeHole : #2980b9;
$peterriver : #3498db;
$emerald : #2ecc71;
$alizarin : #e74c3c;
$orange : #f39c12;
$sunFlower : #f1c40f;
$concrete : #95a5a6;
$silver : #bdc3c7;